<header>
	<div class="container-fluid text-center">
		<a href="#/"><img src="https://dafitistatic-a.akamaihd.net/images/dafiti-logo.png" alt="Dafiti"></a>
	</div>	
</header>




		<!--<div class="container-fluid">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#/"><img src="https://dafitistatic-a.akamaihd.net/images/dafiti-logo.png" alt="Dafiti"></a>
			</div>

			<div class="collapse navbar-collapse hidden" id="js-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#/">Home</a></li>
					<li><a ng-href="#/about">About</a></li>
					<li><a ng-href="#/">Contact</a></li>
				</ul>
			</div>
		</div>-->