<div class="row">
    <div class="col-md-3">
        <menuleft properties="account.detail"></menuleft>
    </div>
	<div class="col-md-9">
		<h5 class="title">Minha conta</h5>
		<form name="formAccount" novalidate>
			<div class="row" >
				<div class="information">
					<div class="col-xs-3">
						<label>Nome</label>
					</div>
					<div class="col-xs-9">
						<span ng-if="!account.viewEdit">{{account.detail.name}}</span>
			            <input type="text" class="form-control" name="firstName" ng-model="firstName" ng-init="firstName = account.detail.name" ng-if="account.viewEdit">
		            </div>	
				</div>
				<div class="information">
					<div class="col-xs-3">
						<label>Sobrenome</label>
					</div>
					<div class="col-xs-9">
						<span ng-if="!account.viewEdit">{{account.detail.lastName}}</span>
						<input type="text" class="form-control" name="lastName" ng-model="lastName" ng-init="lastName = account.detail.lastName" ng-if="account.viewEdit">
					</div>		
				</div>
				<div class="information">
					<div class="col-xs-3">
						<label>Email</label>
					</div>
					<div class="col-xs-9">
						<span ng-if="!account.viewEdit">{{account.detail.email}}</span>
						<input type="text" class="form-control" name="email" ng-model="email" ng-init="email = account.detail.email" ng-if="account.viewEdit">
					</div>	
				</div>	
			</div>

			<div class="row" ng-if="!account.viewEdit">
				<div class="col-md-12 m-30">
					<a class="btn btn-default" ng-click="account.viewEdit = true" >Editar informações</a>
				</div>	
			</div>
			<div class="row" ng-show="account.viewEdit">
				<div class="col-md-12 m-30">
					<a class="btn btn-default" ng-click="account.viewEdit = false" ng-disabled="account.btnDisabled">Cancelar</a>
					<a class="btn btn-default" ng-click="account.updateAccount(formAccount)" ng-disabled="account.btnDisabled">Confirmar</a>
				</div>	
			</div>
		</form>	
    </div>    
</div>


